#! /bin/sh
set -e

. /usr/share/debconf/confmodule

db_input critical kismet/install-setuid || true
db_go

db_get kismet/install-setuid
if [ "$RET" != "false" ]; then
	while true; do
		db_input critical kismet/install-users || true
		db_go

		# Find invalid usernames
		invalid_users=""
		# Make sure each user is listed at most once in the list
		valid_users=""
		db_get kismet/install-users
		if [ "$RET" != "" ]; then
			for user in ${RET}; do
				case " $valid_users " in
					*" $user "*)
						;;
					*)
						if ! getent passwd $user > /dev/null; then
							invalid_users="$invalid_users $user"
						else
							valid_users="$valid_users $user"
						fi
						;;
				esac
			done
		fi
		if [ -z "$invalid_users" ]; then
			# We managed to get a correct list
			db_unregister kismet/wrong_users || true
			db_set kismet/install-users "$valid_users" || true
			break
		fi
		db_subst kismet/wrong_users USERS "$invalid_users"
		db_input critical kismet/wrong_users || true
	done


fi
